[Desktop Entry]
Type=Application
Name=Instant Local Stream
Comment=Portable low-latency local screen streaming host
Exec=Instant-Local-Stream
Terminal=true
Categories=Network;AudioVideo;
Icon=Instant-Local-Stream
